# For a complete list of core environment variables see
# https://docs.silverstripe.org/en/4/getting_started/environment_management/#core-environment-variables

# DB credentials for docker !!! 
SS_ENVIRONMENT_TYPE=dev
SS_DATABASE_SERVER=127.0.0.1
SS_DATABASE_USERNAME=root
SS_DATABASE_PASSWORD=
SS_DATABASE_NAME=silverstripe
SS_DEFAULT_ADMIN_USERNAME=username
SS_DEFAULT_ADMIN_PASSWORD=password
